rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Appointments
    match /appointments/{appointment} {
      allow read, create: if true;
      allow update, delete: if request.auth != null;
    }
    
    // Barbers
    match /barbers/{barber} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Barber Availability
    match /barberAvailability/{availability} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
